*
{
  color: white;
}

body
{
  background-color: black;
}

p
{
  font: 50px "Verdana";
}

div div
{
  background-color: #444;
  display: inline-block;
  margin: 3px;
  font: 50px "Verdana";
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  text-align: center;
}

#random-words
{
  position: absolute;
  bottom: 5%;
}